POSTGRES_DB=ssm
POSTGRES_USER=ssm_user
POSTGRES_PASSWORD=ssm_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=5173
ML_PORT=9000

MAP_DEFAULT_LAT=44.0521
MAP_DEFAULT_LNG=-123.0868
MAP_DEFAULT_ZOOM=13
