POSTGRES_DB=curbo
POSTGRES_USER=curbo_user
POSTGRES_PASSWORD=curbo_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
# DATABASE_URL=postgresql+psycopg2://curbo_user:curbo_password@localhost:5432/curbo

BACKEND_PORT=8000
FRONTEND_PORT=5173
ANNOTATION_FILE=data/annotations.json
VITE_API_BASE_URL=http://localhost:8000
VITE_USE_MOCK_API=false

MAP_DEFAULT_LAT=44.0521
MAP_DEFAULT_LNG=-123.0868
MAP_DEFAULT_ZOOM=13
